<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @attachment.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @attachment.description %>
</p>

<p>
  <strong>File:</strong>
  <%= @attachment.file %>
</p>

<p>
  <strong>Share URL:</strong>
  tiny/<%= @attachment.id %>
</p>

<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
